details .snapshot-setting-actions{
	display: inline-block;
	float: right;
}
details.snapshot-setting-removed summary {
	text-decoration: line-through;
}
details:not(.snapshot-setting-removed) .snapshot-toggle-setting-removal {
	color: #a00
}
details:not(.snapshot-setting-removed) .snapshot-toggle-setting-removal:hover {
	color: #f00
}
.snapshot-merged-list a{
	vertical-align: bottom;
}

a.snapshot-thickbox {
	color: #FFC107;
}

.snapshot-conflict-details {
	padding-bottom: 8px;
}

.snapshot-conflict-details code {
	background: transparent;
}

.snapshot-conflict-details:first-child {
	margin-top: 10px;
}

.snapshot-conflict-details summary {
	padding: 6px 5px 6px 15px;
	cursor: pointer;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	background: #ffffff;
	user-select: none;
	overflow: hidden;
	height: 22px;
	line-height: 22px;
}

.snapshot-conflict-details summary .details-open-indicator {
	position: absolute;
	visibility: hidden;
}

.snapshot-conflict-details article, .snapshot-conflict-details div {
	padding: 0 10px;
	background: #ffffff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}

.snapshot-conflict-details[open] summary,
.snapshot-conflict-details[open] summary:hover {
	border-color: #999;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.snapshot-conflict-details a {
	float: right;
}

.wp-customizer #TB_window {
	background: #f1f1f1;
}

.wp-customizer #TB_title {
	height: 35px;
}

.wp-customizer #TB_ajaxWindowTitle {
	line-height: 35px;
}

.wp-customizer .tb-close-icon,
.wp-customizer #TB_closeWindowButton {
	line-height: 35px;
	width: 35px;
	height: 35px;
}

.wp-customizer .tb-close-icon:before {
	margin-top: 4px;
	display: inline-block;
}

.post-type-customize_changeset #TB_ajaxContent {
	width: auto !Important;
	background: #f1f1f1;
}

.wp-core-ui .snapshot-fork.loading {
	cursor: progress;
}

#snapshot-fork-list {
	list-style:none;
}

#snapshot-fork-list li a:before {
	content: '';
	width: 10px;
	height: 14px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEcAAABqCAYAAADugkz3AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABzZJREFUeNrkXW9oVlUYf3wbS8aQUWPUGGMtGTEkSkaUDCFZC1YfZIXFsFhFMGzEqCgxESJExEBEYu2DjRARofoyhsVYIlOWjZi2lqiUDeeWy9cla+Wacz1PntHldec5f+6573vPfR/4MfC959x7f/ec5995zvEuMJNiRAXifsTdiBuIBchTSSHWIzoRZxFziHlBCP2dQQwgtiGq84mYDYhBQcSiBv5GdIuRlVhZidgrRsaiBX5HbEwiMaRTeixJCYKI3ZIkYgoQhxwQEyToxaSQ026gX3RxHfGQr4SsEH9JiY4iVjHXTiE+R5xC/IGoRDyFaBR6SiZfIZ5B3PKVpH3M16fR9DGiRNJ2jSCMa7/eZyWcZl5um2Yfx5k+DufAP6Pp3CwMQwdiM6JOMcrvkCbmpXrFjXSEptk0Y96Ls0BKLWI/4rJCD5LhqdfpcBczHR43fLg9zEOtjZCU+xAHDX2zBfHxWc/+C0njMWHeTaSeeZhNERHToBgpKkxzTmu/pNFxiwctZx6iLQJi6KVmHbgcFDO+upzikpnYQktFKJObjompF1OpyEFfhcIiN2a+zJSkQbXFjdcwv004JKZEBLk6Sv4fAZ2Y8gCiLEjOqOTiMjGfTeQFZtScd0jO24jVzO9/IT5BPIl4EPEA4gnER4hrTDtyht8P/sM6Zi4OG4yeOpG2WK6fc5bTVDZqOL9sRJh0mVQhTipMfXkw4LzIXHxI48XohheYPnY5HDWbmfv8LMy6DsHDTD8dwYs7FNr8mESfFIrIe5JpO+s4S3iQ8VuaDPpZywTafcELi0QaVOU0nRSJsA+FQryoYSb3OLZSsuc8Y+DNL0mfpK8rmWFGPaMzbDESQdgwI7nXXou+tjIp3/Ig0ycQbzj0R6aE9frTITGrGP13yfIZZWa9KHMYfop4XZjCMPIb4mnET45HzQ3Gab3Xor8iG9+okRm+KkxGnP0bk9y336FyTysSf7DdkpxNEK30MPGRyUcpEz6NzL9T5kZMiUk7dPZk0s7c/2vNTAKpk8+YfnbrMGtKztksJLQqFJH4AUW2r5DJYS2tmjziKzkkXYrnGBIOYVGGBWpQpHMXxbRN+UxOhUi9qp6HnDlK/g8qvPglzCgyC16QA0Lx2y5Zy7DFRJvHmZwlD9fVQuROk/DDB3JI3go5guZF4G0Ul9mQMwy5kbYQI6jV5oY25AzmiJyUhhUyXkRIQTKE4q0fLNr15gM5oIqFJDKeL+SUWLS5li/k2NQiXs0HcijbWGnY5qbIOyWenCpEqUXibMKWnEKPyGm0aHMeFNVmKYsUYtyE3uE5i3andTr2XSj38phFu8F8IOc9MK8jImV8IunkUPKq2aLdL6BR2OAzORT7dVmMGpIvQaP011dyyK+hAgebNXiaUkfCPkBNTKPyexBHQ+RvBlw8RBzJIcs0GoIYyvlsTBo5FFRSGjNsocOQpY6KJTkUTFK5yySEzxEvWHrSsSKnQAx9Wj+aA3crC4ddGqBsk/Mw3C50mgS3yy2ESxCoEjX5SrkUKkyk9aeXhLKNwrWgUpJXQF6LE6uRQ+lMqiPsBfeVZMvpmTej+KouyVkplCFVNqQjJiSzijUVF3JOZUxZipapVm8si4QsjZjIiLElh6pLqbKclmlHwP2eUd1NHh0QcWhUY/nF5nJASLCqoikblqQmhy9p81FIwVdClsQXcmgjWmu2MwxxJ+e6CC1KIAcSV3LIg95h4/EmlRzSKVQR0QKGW5+jdO1zTQq5BlT2Whu3rGVZjgihQshukTyP7cJiNsmZFnndZrArJUkcObPCN2kReWHvlj5cEzIv4q928Pz4KpfkUPEzld3XQUIqO1yQQ3FWZzbdel/IOSdGSiIlDDkXcu3BxpUcrS05+UpOJ+SB2JCzkA+jxpacy5Cg8l3XL6IsQkwKOTZB360kTR2OHBvdQSsPBZBwoTLbAUtr9U6SiaEIOczJtmSxPoBk7av4T+hgnu8dBZv7k0QQJZmGHKco3k0KOd2G0bbudet8J2YD8OvaFC9RZVQD/H+GDSXgWzWm4RD4tcnkDjkGfMK7UeEP7VSQ2+wrMatBvi+biot0Tn8lxbsb+NNJvJQ2CHFUSkBosU1WI0xp0lLfiKEv/qjkN9rJ1mXQF3c9lePX+khOueS3X+H27hIT+Yb5rdpHcmQ78sYt+ruq8KO8I0e2t9pGRxQrpp135IwzVsw0Sc5ZtgkfyRlmRkGLYV+vSX6jPU4/+mjKqxgHLg38ucO6LsEZn/M8XO6GDgyqUbR/Gfhq9K0+hw/PK9x/KhHZIUZZMGygIuwjwJ98lAa9M4pjrXt0Mn8UZVM1OhVgXwG9IuxEZAZrwf2+hD7fI/KgPAtu/h+FRZHKSNx6eRPoHVDIoR8SXEhA5vsomG/soOh7e5KmEqekKcnVA+pNYzTS9mVYM+9lheZ1pSI0oPRGpfCeKSajOuHvEN9C+NO3Yyf/CjAAd+PAvBBk8x8AAAAASUVORK5CYII=');
	display: inline-block;
	background-size: cover;
	margin-right: 8px;
	vertical-align: bottom;
}

#customize_changeset-fork .inside h2 {
	padding-left: 0;
}

input[type="checkbox"].split-snapshot-hide{
	display: none;
}