<?xml version="1.0"?>
<ruleset name="Customize Snapshots Plugin">

	<rule ref="WordPress-Core" />
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" value="customize-snapshots,default" />
		</properties>
	</rule>
	<rule ref="WordPress-Docs" />

	<rule ref="Squiz.Commenting.FunctionComment.ScalarTypeHintMissing">
		<severity>0</severity>
	</rule>
	<rule ref="Squiz.PHP.DisallowMultipleAssignments.Found">
		<!-- See https://github.com/squizlabs/PHP_CodeSniffer/issues/1277 -->
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.Arrays.ArrayDeclarationSpacing.AssociativeKeyFound">
		<severity>0</severity>
	</rule>
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<arg name="extensions" value="php"/>
	<arg value="s"/>

	<file>.</file>
	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/dev-lib/*</exclude-pattern>
</ruleset>
